<head>
  <link rel="stylesheet" href="styles.css"/>  
</head>

<div class="nav">
<section class="nav-sec">
  <nav class="nav-top">
    <div class="nav-top-sec">
      <img src="images/tv.png">
      <div class="nav-title">Sports Event Management<br><small class="font-euclid">Manage Sports Easily</small></div>
    </div>
  </nav>
  <nav class="nav-top-1">
  </nav>
</section>
</div>