<head>
    <link rel="stylesheet" href="styles/modal.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" integrity="sha512-c42qTSw/wPZ3/5LBzD+Bw5f7bSF2oxou6wEb+I/lqeaKV5FDIfMvvRp772y4jcJLKuGUOpbJMdg/BTl50fJYAw==" crossorigin="anonymous" />
</head>

<div class="modal-wrapper">
<div class="modal">
<div class="modal-content animate__animated animate__fadeInUp animate__faster">
<div class="modal-close"><i class="fi fi-br-cross-small"></i></div>
<div id="modal_body"></div>
</div>
</div>
</div>