<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Login</title>
    <link rel="stylesheet" href="styles.css"/>
</head>
<body>

<div class="flex justify-center align-center w-full h-full">
<div class="form-deg brdr-r-10">
<div>
<img src="https://m.media-amazon.com/images/I/51I680MYexL.jpg">

</div>

<div class="form pos-rel">
    <form>
        <div class="text-3xl mg-b-30 font-value">Student Login</div>
  <div>
  <div class="form__group field">
  <input type="number" class="form__field" placeholder="id" name="id" id='id' required />
  <label for="id" class="form__label">ID</label>
</div>
    <div class="id error"></div>


    <div class="form__group field">
  <input type="password" class="form__field" placeholder="Password" name="password" id='password' required />
  <label for="password" class="form__label">Password</label>
</div>
<div class="password error"></div>
<button class="btn indigo white-text w-full mg-t-20 text-1xl">Log in</button>
</div>
<div class="form-footer">
 *By clicking Log in you are automatically accepting the cookie. Login will saved for 2 days.
</div>
   
</form>
<center>Not Registered?</center>
<a href="/student_reg"><button class="btn indigo white-text w-full mg-t-20 text-1xl">Registration</button></a>
 
</div>
</div>
</div>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script>
    const Toast = Swal.mixin({
  toast: true,
  position: 'top-end',
  showConfirmButton: false,
  timer: 3000,
  timerProgressBar: true,
  didOpen: (toast) => {
    toast.addEventListener('mouseenter', Swal.stopTimer)
    toast.addEventListener('mouseleave', Swal.resumeTimer)
  }
})


      const login = document.querySelector('form');
      const idError = document.querySelector('.id.error')
      const passwordError = document.querySelector('.password.error')

      login.addEventListener('submit', async (e) => {
          e.preventDefault();
          idError.textContent = '';
          passwordError.textContent = '';
          const id = parseInt(login.id.value);
          const password = login.password.value;
        
        console.log(id)
        console.log(password);

         fetch('/getStudents')
      .then(res=>res.json())
      .then(data=>{
        let found = false;
        for(let i=0; i<data.length; i++){
            if(data[i].id===id && data[i].password===password){
            found = true;
            localStorage.setItem('name', data[i].name);
            localStorage.setItem('id', data[i].id);
            break;
            }
        }

        if(found){
            Toast.fire({
            icon: 'success',
            title: 'Logged in successfully'
            });
            
            

            setTimeout(()=>{
                 location.assign('/');
            }, 3000);
        }else{
           Swal.fire({
            icon: 'error',
            text: 'Id or Password is wrong'
           })
        }

      });

      });

     
  </script>

</body>
</html>