<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher</title>
</head>
<body>
    <div class="sports-layout">
    {{>header}}

    <div class="sports-side-nav">
     <div class="side-nav-container side-ui">
        <div class="side-ui-inner">

            <nav class="side-nav"></nav>

        </div>
     </div>
    </div>


    <div class="sports-body"></div>
    </div>

    <script>
    document.querySelector('.nav-top-1').innerHTML =`<div class="flex justify-center align-center bold gap-10"><img src="images/admin.png"> Teacher</div>`;
    </script>


</body>
</html>