<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher</title>
    <link rel="stylesheet" href="styles/table.css">
</head>
<body>
    <div class="sports-layout">
    {{>header}}
     <div class="user">{{teacher.uuid}}</div>
    <div class="sports-side-nav">
     <div class="side-nav-container side-ui">
        <div class="side-ui-inner">
            <nav class="side-nav">
                <div class="side-nav-inner">

                    <div class="flex align-center gap-10 side-nav-menu-head">
                    <div class="side-nav-menu-head-head gap-10 bold"><i class="fi fi-ss-running"></i> Sports</div>
                   </div>

                    <div class="menu-items">
                    <div class="menu-item events">
                        <a href="#!" class="menu-item-link">Events</a>
                    </div>

                    <div class="menu-item results">
                        <a href="#!/results" class="menu-item-link">Results</a>
                    </div>
                </div>

                   
                   <div class="flex align-center gap-10 side-nav-menu-head">
                    <div class="side-nav-menu-head-head gap-10 bold"><i class="fi fi-br-users-alt"></i> Peoples</div>
                   </div>

                <div class="menu-items">
                    <div class="menu-item students">
                        <a href="#!/students" class="menu-item-link">Students/Players</a>
                    </div>



                </div>

                </div>

            </nav>

        </div>
     </div>
    </div>


    <div class="sports-body">
       
        <div id="app"></div>
        
         {{> modal}}

        {{>footer}}
    </div>
    </div>



<script>
    document.querySelector('.nav-top-1').innerHTML =`
    <div class="flex justify-center align-center bold gap-10">
        <img src="images/teacher.png"> Teacher <i class="fi fi-br-menu-dots-vertical"></i><div>{{teacher.name}}</div></div> 
    <div class="nav-icon flex justify-center align-center mg-r-20">
        <div data-text="Notification" class="tooltip"><i class="fi fi-ss-bell"></i> <span style="transform: translate(-55%);">notification</span></div>
        <div data-text="Log out" class="tooltip"><i class="fi fi-br-sign-out-alt"></i> <span style="transform: translate(-55%);">logout</span></div>
    </div>`;
</script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/navigo/7.1.3/navigo.min.js" integrity="sha512-T5Jaw8KOeloIRJz6TfFWDNqeTwMnLTXf2amscWwmNmIPmrAjPdl47fupdu7TrX3eSVuS1NElEfw0h2+0SsNxaQ==" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="/scripts/teacher.js"></script>
</body>
</html>